.wc_dhl_error,
.wc_dhl_delete .dhl_delete_label {
	color: #a00;
}

span.wc_dhl_delete,
span.wc_dhl_error {
	float:right;
}

.dhl_connection_succeeded {
	color: #008000;
	margin-left: 10px;
	margin-top: 10px;
}

.dhl_connection_error {
	color: #a00;
	margin-left: 10px;
	margin-top: 10px;
}

.dhl_label_created {
	width:7%;
	/*text-align:center*/
}

/* DHL Express products list styling */
#dhl_express_products td {
  vertical-align: middle;
  padding: 4px 7px; }

#dhl_express_products th {
  padding: 9px 7px; 
}

#dhl_express_products th.sort {
  width: 16px;
  padding: 0 16px; 
}

#dhl_express_products td.sort {
  cursor: move;
  width: 16px;
  padding: 0 16px;
  cursor: move;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAHUlEQVQYV2O8f//+fwY8gJGgAny6QXKETRgEVgAAXxAVsa5Xr3QAAAAASUVORK5CYII=) no-repeat center; 
}

#dhl_express_products th.wide_text {
  width: 40%;
}

#dhl_express_products th.short_text {
  width: 10%;
}

input#pr_dhl_invoice {
  margin-bottom: 10px !important;
}

.dhl-invoice-upload-spinner-container {
  float: right;
  width: 70%;
}

.dhl-invoice-upload-spinner-container > .spinner {
  float: left;
}

.dhl-invoice-upload-message {
  font-size: 11px;
  display: none;
}

.dhl-total-packages #pr_dhl_total_packages {
  width: 100px !important;
  margin-top: -7px;
  margin-left: 5px;
}

p.dhl-total-packages > label {
  padding-bottom: 10px !important;
} 

.package_header_field,
.package_item_field {
  display: inline-block;
  width: 45px !important;
}

.package_header_field.first,
.package_item_field.first {
  width: 55px !important;
}

.package_item input {
  width: 40px !important;
}