/* Custom styled input box */
.dhlpwc-stylishselect-hidden-select {
    visibility:hidden;
}
.dhlpwc-stylishselect-select {
    cursor:pointer;
    display:block;
    position:relative;
    font:normal 11px/22px Arial, Sans-Serif;
    color:black;
    border:1px solid #ccc;
}
.dhlpwc-stylishselect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    padding:0 10px;
    font-weight:bold;
}
.dhlpwc-stylishselect:after {
    content:"";
    width:0;
    height:0;
    border:5px solid transparent;
    border-color:black transparent transparent transparent;
    position:absolute;
    top:9px;
    right:6px;
}
.dhlpwc-stylishselect:active {
    background-color:#eee;
}
.dhlpwc-stylishselect-options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:9999;
    margin:0 0;
    padding:0 0;
    list-style:none;
    border:1px solid #ccc;
    background-color:white;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    height: 300px; /* fallback */
    height: 60vh;
    overflow:scroll;
}
.dhlpwc-stylishselect-options li {
    padding:0 6px;
    margin:0 0;
    padding:0 10px;
    border-bottom: 2px dotted #b2b2b2;
}
.dhlpwc-stylishselect-options li:hover {
    background-color:#fccc00;
}
.dhlpwc-stylishselect-options li:hover b {
    color: #d30511;
}
