.dhlpwc_notice { color: #0a0; margin-bottom:0 }
.dhlpwc_warning { color: #a00; margin-bottom:0 }
.dhlpwc_error { color: #a00; margin-bottom:0 }

.dhlpwc-meta-loader {
    visibility: hidden;
    position: relative;
    overflow:hidden;
    margin:-10px -12px -12px;
    height:30px;

    filter: brightness(60%) sepia(1) saturate(9) hue-rotate(151deg);
}

#dhlpwc-label {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(50%,#fc0),to(rgba(255,204,0,0)));
    background-image: linear-gradient(#fc0 50%,rgba(255,204,0,0));
    background-size: auto 36px;
    background-repeat:repeat-x;
}

#dhlpwc-label .ui-sortable-handle span {
    color: #D40611;
}

#dhlpwc-label .ui-sortable-handle span img {
    height:12px;
    width: auto;

}

#dhlpwc-label[metabox_busy="true"] .dhlpwc-meta-loader { visibility: visible; }

.dhlpwc-order-metabox-form-parceltypes {
    position: relative;
}
.dhlpwc-order-metabox-form-parceltypes .widefat {
    position: absolute;
    top: -2.4em;
}
.dhlpwc-order-metabox-form-parceltypes .widefat .order_actions.column-order_actions {
    width:100%
}

.dhlpwc-meta-loader img {
    position: absolute;
    width: 100%;
    height:5px;
    padding:0;
    margin:0;
    bottom: 0;
}

/* Metabox: Business */
.dhlpwc-meta-to-business {
    width: 100%;
}


input#dhlpw-label-create-to-business {
    display: none;
    margin: 0;
    padding: 0;
}

input#dhlpw-label-create-to-business ~ label {
    float: left;
}

input#dhlpw-label-create-to-business ~ label {
    display: inline-block;
    width: 49%;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 3px 0;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
}

input#dhlpw-label-create-to-business ~ label:hover {
    cursor: pointer;
}

input#dhlpw-label-create-to-business ~ label:first-of-type {
    border-radius: 4px 0 0 4px;
}

input#dhlpw-label-create-to-business ~ label:last-of-type {
    border-radius: 0 4px 4px 0;
}

input#dhlpw-label-create-to-business:not(:checked) ~ label:first-of-type {
    background-color: #fccc01;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input#dhlpw-label-create-to-business:checked ~ label:last-of-type {
    background-color: #fccc01;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Metabox: Delivery options */
input[type=radio].dhlpwc-label-create-delivery-option {
    display:none;
    margin:0;
    padding:0;
}

input[type=radio].dhlpwc-label-create-delivery-option:checked + label.dhlpwc-order-metabox-form-deliverymethod .dhlpwc-order-metabox-form-deliverymethod-icon {
    background-color: #fccc01;
}

input[type=checkbox].dhlpwc-label-create-option:disabled + label {
    opacity: 0.2;
}

.dhlpwc-order-metabox-form-deliverymethods {
    width: 100%;
}

.dhlpwc-order-metabox-form-deliverymethod {
    float:left;
    width:33%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.dhlpwc-order-metabox-form-deliverymethod-icon {
    height:28px;
    width:28px;
    margin: 0;
    padding: 7px;
    display:inline-block;
    border-radius: 50%;
}

.dhlpwc-order-metabox-form-delivery-option-icon {
    height:12px;
    width:12px;
    margin: 0;
    padding: 0;
    display:inline-block;
}

.order_actions .dhlpwc_admin_action_button {
    display: inline-block;
    text-indent: -9999px;
    position: relative;
    padding: 0 !important;
    height: 2em;
    width: 2em;
}

.order_actions .dhlpwc_admin_action_button::after {
    font-family: Dashicons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "\f133";
    line-height: 1.85;
}

.order_actions .dhlpwc_admin_action_button.dhlpwc_action_create::after { content: "\f133";}
.order_actions .dhlpwc_admin_action_button.dhlpwc_action_download::after { content: "\f316";}
.order_actions .dhlpwc_admin_action_button.dhlpwc_action_print::after { content: "\f121";}
.order_actions .dhlpwc_admin_action_button.dhlpwc_action_follow_tt::after { content: "\f504";}
.order_actions .dhlpwc_admin_action_button.dhlpwc_action_delete::after { content: "\f182"; }

ul.order-meta-options {
    margin: 0;
    list-style-type: none;
}

.woocommerce table.form-table select#woocommerce_dhlpwc_default_receiver_type,
.woocommerce table.form-table select#woocommerce_dhlpwc_country {
    padding: 2px;
}

/* Settings */
.woocommerce table.form-table > tbody > tr > td.forminp > fieldset > p.description {
    margin-right: -240px;
    width: 45vw;
}

tr.dhlpwc-options-grid > td > table {
    margin-right: -240px;
    width: 60vw;
}
.dhlpwc-condition-table {
    margin-right: -240px;
}

input#woocommerce_dhlpwc_test_connection,
input#woocommerce_dhlpwc_search_printers {
    width: auto;
    min-width: 280px;
}
input#woocommerce_dhlpwc_test_connection.dhlpwc_button_success,
input#woocommerce_dhlpwc_search_printers.dhlpwc_button_success {
    background-color: #10fe6f;
}
input#woocommerce_dhlpwc_test_connection.dhlpwc_button_fail,
input#woocommerce_dhlpwc_search_printers.dhlpwc_button_fail {
    background-color: #ed1b26;
}

#mainform > #dhlpwc_shipping_method_settings {
    position: relative;
    padding-left: 220px;
}

#mainform > #dhlpwc_shipping_method_settings:after {
    content: '';
    display: block;
    clear: both;
}

#mainform > #dhlpwc_shipping_method_settings > table {
    position: relative;
    top: 0;
    left: 0;
    width: inherit;
    display: none;
    margin-right: -240px;
    padding: 0 20px;
    height: 0;
}

#mainform > #dhlpwc_shipping_method_settings > h3,
#mainform > #dhlpwc_shipping_method_settings > p {
    float: left;
    width: 182px;
    clear: left;
    display: inline-block;
    padding-right: 10px;
    padding-left: 8px;
    cursor: pointer;
    margin-left: -220px;
}

#mainform > #dhlpwc_shipping_method_settings > h3.dhlpwc-highlight,
#mainform > #dhlpwc_shipping_method_settings > h3.dhlpwc-active,
#mainform > #dhlpwc_shipping_method_settings > p.dhlpwc-highlight,
#mainform > #dhlpwc_shipping_method_settings > p.dhlpwc-active {
    background-color: #ffffff;
    padding-left: 8px;
}

#mainform > #dhlpwc_shipping_method_settings > h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom:5px;
    border-top: solid 5px #ffffff;
}

#mainform > #dhlpwc_shipping_method_settings > p {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.woocommerce table.form-table input#woocommerce_dhlpwc_price_tax_assistance {
    width: 80px;
}

/* Currency input  & Weight unit input */
.woocommerce table.form-table .dhlpwc-currency-wrap,
.woocommerce table.form-table .dhlpwc-weight-unit-wrap,
.wc-modal-shipping-method-settings form .form-table tr td .dhlpwc-currency-wrap,
.wc-modal-shipping-method-settings form .form-table tr td .dhlpwc-weight-unit-wrap {
    position: relative;
    width: 150px;
}

.woocommerce table.form-table .dhlpwc-currency-wrap > i,
.woocommerce table.form-table .dhlpwc-weight-unit-wrap > i,
.wc-modal-shipping-method-settings form .form-table tr td .dhlpwc-currency-wrap > i,
.wc-modal-shipping-method-settings form .form-table tr td .dhlpwc-weight-unit-wrap > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}

.woocommerce table.form-table .dhlpwc-currency-wrap > input.dhlpwc-price-input,
.woocommerce table.form-table .dhlpwc-weight-unit-wrap > input.dhlpwc-weight-input,
.wc-modal-shipping-method-settings form .form-table tr td .dhlpwc-currency-wrap > input.dhlpwc-price-input,
.wc-modal-shipping-method-settings form .form-table tr td .dhlpwc-weight-unit-wrap > input.dhlpwc-weight-input {
    padding-left: 25px;
    padding-right: 10px;
    width:150px;
    min-width: 150px;
    text-align: right;
}

.woocommerce table.form-table .dhlpwc-currency-pos-left > i,
.woocommerce table.form-table .dhlpwc-currency-pos-left_space > i,
.wc-modal-shipping-method-settings form .form-table tr td .dhlpwc-currency-pos-left > i,
.wc-modal-shipping-method-settings form .form-table tr td .dhlpwc-currency-pos-left_space > i {
    border-right: solid 1px lightgrey;
}

.woocommerce table.form-table .dhlpwc-currency-pos-right > i,
.woocommerce table.form-table .dhlpwc-currency-pos-right_space > i,
.woocommerce table.form-table .dhlpwc-weight-unit-wrap > i,
.wc-modal-shipping-method-settings form .form-table tr td .dhlpwc-currency-pos-right > i,
.wc-modal-shipping-method-settings form .form-table tr td .dhlpwc-currency-pos-right_space > i,
.wc-modal-shipping-method-settings form .form-table tr td .dhlpwc-weight-unit-wrap > i {
    right: 4px;
    border-left: solid 1px lightgrey;
}

.woocommerce table.form-table .dhlpwc-currency-pos-right > input.dhlpwc-price-input,
.woocommerce table.form-table .dhlpwc-currency-pos-right_space > input.dhlpwc-price-input,
.woocommerce table.form-table .dhlpwc-weight-unit-wrap > input.dhlpwc-weight-input,
.wc-modal-shipping-method-settings form .form-table tr td .dhlpwc-currency-pos-right > input.dhlpwc-price-input
.wc-modal-shipping-method-settings form .form-table tr td .dhlpwc-currency-pos-right_space > input.dhlpwc-price-input,
.wc-modal-shipping-method-settings form .form-table tr td .dhlpwc-weight-unit-wrap > input.dhlpwc-weight-input {
    padding-left: 10px;
    padding-right: 36px;
}

.woocommerce table.form-table tr.dhlpwc-disable-global-shipping-setting label,
.woocommerce table.form-table tr.dhlpwc-disable-global-shipping-setting p.description,
.woocommerce table.form-table tr.dhlpwc-disable-global-shipping-setting div.dhlpwc-currency-wrap i,
.woocommerce table.form-table tr.dhlpwc-disable-global-shipping-setting div.dhlpwc-weight-unit-wrap i,
.woocommerce table.form-table tr.dhlpwc-disable-global-shipping-setting input {
    color: #aaaaaa;
}

.woocommerce table.form-table tr.dhlpwc-disable-shipping-option p.description,
.woocommerce table.form-table tr.dhlpwc-disable-shipping-option div.dhlpwc-currency-wrap i,
.woocommerce table.form-table tr.dhlpwc-disable-shipping-option div.dhlpwc-weight-unit-wrap i,
.woocommerce table.form-table tr.dhlpwc-disable-shipping-option input {
    color: #aaaaaa;
}

input.wc_input_price.dhlpwc-grouped-option:disabled {
    background-color: #f4f4f4;
}

.woocommerce table.form-table tr.dhlpwc-hide-hide-sender-address-setting,
.woocommerce table.form-table tr.dhlpwc-hide-return-address-setting {
    display:none;
}

.dhlpwc-required-field-star {
    display: inline-block;
    color: red;
}

div.dhlpwc_settings_suggestion_info {
    font-size:smaller;
    padding:5px;
}

div.dhlpwc_settings_suggestion_accounts,
div.dhlpwc_settings_suggestion_printers {
    display: inline-block;
    color: #444;
    border: 1px solid #CCC;
    background: #FFF;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    vertical-align: middle;
    padding: 3px 10px;
    text-align: center;
    margin-right: 10px;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

div.dhlpwc_settings_suggestion_accounts:hover,
div.dhlpwc_settings_suggestion_printers:hover {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

div.dhlpwc_settings_suggestion_accounts:active,
div.dhlpwc_settings_suggestion_printers:active {
    background: #ff0;
}

tr.dhlpwc-bulk-grid > td {
    padding: 0;
}

tr.dhlpwc-bulk-grid > td th,
tr.dhlpwc-bulk-grid > td td {
    width: auto;
    padding: 0 5px 0 0;
}

tr.dhlpwc-bulk-grid > td td:first-child {
    padding-right: 50px;
}

.dhlpwc-bulk-container {
    overflow: hidden;
}


tr.dhlpwc-options-grid > td {
    padding: 0;
}

.wc-modal-shipping-method-settings form .form-table tr.dhlpwc-options-grid th,
.wc-modal-shipping-method-settings form .form-table tr.dhlpwc-options-grid td,
tr.dhlpwc-options-grid > td th,
tr.dhlpwc-options-grid > td td {
    width: auto;
    padding: 0 5px 0 0;
}

.wc-modal-shipping-method-settings form .form-table tr.dhlpwc-options-grid th:last-of-type,
.wc-modal-shipping-method-settings form .form-table tr.dhlpwc-options-grid td:last-of-type,
tr.dhlpwc-options-grid > td th:last-of-type,
tr.dhlpwc-options-grid > td td:last-of-type {
    padding-right: 0;
}

tr.dhlpwc-delivery-times-grid > td {
    padding: 0;
}

tr.dhlpwc-delivery-times-grid > td th,
tr.dhlpwc-delivery-times-grid > td td {
    width: auto;
    padding: 0 5px 0 0;
}

tr.dhlpwc-delivery-times-grid > td td:first-child {
    padding-right: 50px;
}

.dhlpwc-delivery-times-container {
    overflow: hidden;
}

.dhlpwc-delivery-times-receiving-day,
.dhlpwc-delivery-times-shipping-day {
    display: inline-block;
    white-space: nowrap;
}

.dhlpwc-delivery-times-shipping-day-content {
    line-height: normal;
    text-align: center;
    border-radius: 4px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding: 8px;
}

.dhlpwc-delivery-times-shipping-day-content.dhlpwc-shipping-advice-asap {
    background: #eba3a3;
}
.dhlpwc-delivery-times-shipping-day-content.dhlpwc-shipping-advice-asap p {
    color: #761919;
}

.dhlpwc-delivery-times-shipping-day-content.dhlpwc-shipping-advice-soon {
    background: #f8dda7;
}
.dhlpwc-delivery-times-shipping-day-content.dhlpwc-shipping-advice-soon p {
    color: #94660c;
}

.dhlpwc-delivery-times-shipping-day-content.dhlpwc-shipping-advice-today {
    background: #c6e1c6;
}
.dhlpwc-delivery-times-shipping-day-content.dhlpwc-shipping-advice-today p {
    color: #5b841b;
}

.dhlpwc-delivery-times-shipping-day-content.dhlpwc-shipping-advice-backlog {
    background: #c8d7e1;
}
.dhlpwc-delivery-times-shipping-day-content.dhlpwc-shipping-advice-backlog p {
    color: #2e4453;
}

.dhlpwc-delivery-times-receiving-day-content {
    line-height: normal;
    text-align: left;
}



.dhlpwc-label-create-delivery-option-description {
    font-weight: bold;
    font-size: smaller;
}

.dhlpwc-original-bulk-option {
    display:none;
}

.dhlpwc-original-grouped-option {
    display:none;
}

.dhlpwc-original-delivery-times-option {
    display:none;
}

.dhlpwc-metabox-service-input {
    padding-left: 37px;
}

.dhlpwc-metabox-service-input input {
    width: 100%;
}

.dhlpwc-metabox-adress-label {
    font-size:smaller;
    font-weight:bold;
    padding-left: 8px;
}

#dhlpwc-metabox-terminal-preview-text,
#dhlpwc-metabox-parcelshop-preview-text {
    width: 69%;
    float: left;
    margin-top: 6px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: #d30511;
}

#dhlpwc-metabox-terminal-preview-description,
#dhlpwc-metabox-parcelshop-preview-description {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: smaller;
    margin-top: 3px;
}

#dhlpwc-metabox-terminal-display,
#dhlpwc-metabox-parcelshop-display {
    width: 29%;
    overflow: hidden;
    float: right;
}

.dhlpwc-metabox-terminal-location,
.dhlpwc-metabox-parcelshop-location {
    overflow-x: hidden;
    font-size: smaller;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 6px 5px;
    cursor: pointer;
}

#dhlpwc-metabox-terminal-select-list hr,
#dhlpwc-metabox-parcelshop-select-list hr {
    padding: 0;
    margin: 0;
    height: 1px;
}

#dhlpwc-metabox-terminal-search-field,
#dhlpwc-metabox-parcelshop-search-field {
    width: 100%;
}

.dhlpwc-metabox-terminal-location:hover,
.dhlpwc-metabox-parcelshop-location:hover {
    background-color: #fccc01;
}

.dhlpwc-metabox-terminal-location:hover strong,
.dhlpwc-metabox-parcelshop-location:hover strong {
    color: #d30511;
}

div.dhlpwc_settings_description_warning {
    font-size:smaller;
    color:red;
}

/* Conditions table */
.dhlpwc-condition-table {
    padding: 0 8px 4px 8px;
    border-radius: 0 0 5px 5px;
    border: none;
    box-shadow: 0 20px 30px -20px #8B8B8B;
    margin-bottom: 10px
}

.dhlpwc-condition-remove-button {
    background-color: #b41010;
    color: #ffffff;
    border-width: 2px;
    border-radius: 14px;
    border-color: #E34848 #830000 #570000  #C43030;
    padding: 0;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    cursor: pointer;
}

.dhlpwc-condition-add-button {
    background-color: #fcfcfc;
    color: #000000;
    border-width: 1px;
    border-radius: 1px;
    border-color: #ffffff #f0f0f0 #f0f0f0  #ffffff;
    padding: 5px 10px;
    margin-top: 3px;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    cursor: pointer;
}

.dhlpwc-condition-remove-button:disabled,
.dhlpwc-condition-add-button:disabled {
    opacity: 0.2;
}

.wc-modal-shipping-method-settings form .form-table tr.dhlpwc-condition-rule td,
tr.dhlpwc-options-grid > td tr.dhlpwc-condition-rule td {
    border-bottom:1px solid #ffffff;
    padding: 2px 5px 3px 0;
}

.wc-modal-shipping-method-settings form .form-table tr.dhlpwc-condition-rule td.dhlpwc-condition-vellipsis,
tr.dhlpwc-options-grid > td tr.dhlpwc-condition-rule td.dhlpwc-condition-vellipsis {
    padding-right: 20px;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    cursor: move;
}
