.dhlpwc_notice { color: #0a0; margin-bottom:0 }
.dhlpwc_warning { color: #a00; margin-bottom:0 }
.dhlpwc_error { color: #a00; margin-bottom:0 }

.dhlpwc-checkout-subsection input {
    width:100%;
}

.dhlpwc-checkout-modal .dhlpwc-checkout-subsection {
    float:left;
    margin: 0;
    padding: 15px;
}

.dhlpwc-modal-logo {
    float: left;
    width: 112px;
    margin: 0;
    display: block;
    box-sizing: border-box;
    padding-top: 18px;
}

.dhlpwc-modal-logo img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/** Parcelshop cart option **/
.dhlpwc-shipping-method-parcelshop-option span.dhlpwc-parcelshop-option-message {
    display: inline-block;
    width: 100%;
}

.dhlpwc-shipping-method-parcelshop-option:after {
    content: '';
    display: block;
    clear: both;
}

input.dhlpwc-parcelshop-option-change {
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2),2px 2px 2px  0 rgba(0,0,0,0.2);
    padding: 2px 20px;
    display: block;
    float:left;
    width:auto;
    border-color: transparent;
    outline: none;
}

input.dhlpwc-parcelshop-option-change.dhlpwc-still-loading {
    background-color: darkgrey;
    color: grey;
}

.woocommerce-checkout-review-order input.dhlpwc-parcelshop-option-change {
    width: auto;
    margin-bottom: 7px;
}
.woocommerce-checkout-review-order input.dhlpwc-parcelshop-option-change:after {
    content: '';
    display: block;
    clear: both;
}

.dhl-parcelshop-locator div.dhl-parcelshop-locator-desktop {
    min-height: 60vh;
}

.dhl-parcelshop-locator div.dhlpwc-parcelshop-component-confirm-button {
     height: auto;
     margin: 15px 20% 15px 16px;
     cursor: pointer;
     color: #ffffff;
     background-color: #CD030C;
     padding-top: 12px;
     padding-bottom: 12px;
     font-weight: bold;
     display: block;
     text-align: center;


    -webkit-user-select: none; /* Safari */
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* IE10+/Edge */
     user-select: none; /* Standard */
 }

.dhl-parcelshop-locator div.dhlpwc-parcelshop-component-confirm-button:hover {
    background-color: #e9030c;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .dhl-parcelshop-locator div.md-text--theme-primary,
    .dhl-parcelshop-locator div.md-text--theme-primary + div {
        padding-left: 4px;
        border-left: 6px #fccc01 solid;
    }
}

@media screen and (min-width: 1025px) {
    .dhl-parcelshop-locator div.md-text--theme-primary,
    .dhl-parcelshop-locator div.md-text--theme-primary + div {
        padding-left: 5px;
        border-left: 10px #fccc01 solid;
    }
}
